/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
} */
/* .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
} */

/* .card {
    background: white;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
} */

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 120px;
    object-fit: cover;
}

/* .card h2 {
    padding: 15px;
    margin: 0;
} */
